main {
    text-align: center;
}

.photo {
    border-radius: 15%;

}
.Benz {
    width: 800px; ;
    height: 600px ;
     
}

h1 {
    color: #ff4500 ;
}
p{
    color: blue;

}
.text{
    width: 350px;
    height: 50px;
}

.rate {
    width: 500px;
    height: 150px;
    background-color: rgb(202, 202, 202);

}

