/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
:root {
    --chemifonti:'Inter', sans-serif;
}
body {
    margin: 0;
    background-color: rgb(219, 227, 248);
    overflow-x: hidden;
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    padding: 20px 60px;
    background-color: #2f22a3;
    width: 100%;
    max-width: 100%;
}
.logo a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 80px;
    font-family: "Outfit", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 2px 4px 0 black;
}
nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
}
nav li:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.dropdown {
    position: relative;
    
}
.dropdown-menu a {
    color: blue;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: yellow;
    padding: 20px;

}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu li a:hover {
    color: #070707;
}
.auth a{
    text-decoration: none;
    color: white;
}
.auth{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}
.auth a {
    border: 2px solid white;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    position: relative;
    right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   font-family: "Outfit", sans-serif;
   font-weight: 500;
}
.auth a:hover{
    background-color: yellow;
    color: blue;
}
.cont1 {
    width: 100%;
    height: 400px;
    background-image: url("https://url-shortener.me/A7WM");
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cont1-text {
    color: rgba(255, 0, 0, 0.527);
    font-size: 60px;
    border-radius: 10px;
    font-family: var(--chemifonti);
    font-weight: bolder;
}
h1 {
    color: rgba(218, 11, 11, 0.979);
    font-family: var(--chemifonti);
    font-weight: bolder; 
    margin: 80px 0px  50px  30px;
}
.blogcont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    margin-bottom: 250px;
}
.sec1 img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}
.sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 550px;
    background-color: #0321ca77;
    padding: 15px;
    gap: 20px;
}
.sec1:hover{
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 8px 20px black;
            box-shadow: 0 8px 20px black;
}

.sec1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 500px;

}
.sec1 a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#authoricon {
    width: 70px;
    height: 70px;
}

.author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}
.author p {
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.author p:hover {
    text-decoration: underline;
    cursor: pointer;
}



Footer
.footerline {
    background-color: #000000;
    height: 5px;
    width: 100%;
    margin-top: 30px;
}
.footerlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #7690ce6c;
    gap: 70px;
    padding: 20px;
}
#footertext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 450px;
}
#footertext h3 {
    font-family: var(--chemifonti);
    color: red;
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
}
#footerfirstp {
    font-family: var(--chemifonti);
    color: rgb(17, 17, 17);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
#footersecondp {
    font-family: var(--chemifonti);
    color: rgb(90, 90, 90);
    font-size: 16px;
    font-weight: 500;
}
#footericons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
}
.footerinfos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
}
.footerinfos h4 {
    font-family: "Outfit", sans-serif;
    font-size: 25px;
}
.footerinfos a{
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    color: rgb(90, 90, 90);
    font-size: 20px;
    font-weight: 500;
}
.footerinfos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}
.footerinfos a:hover {
    color: black;
}
.footerinfos li:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}